container_commands:
  01_nodeinstall:
    cwd: /tmp
    test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
    command: 'yum install -y nodejs --enablerepo=epel'
  02_knexmigrate:
    command: "node_modules/.bin/knex migrate:latest"
    leader_only: true

option_settings:
  - option_name: NODE_ENV
    value: production